* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    font-family: 'Comfortaa', cursive;
}

.jumbotron {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    background-color: aquamarine;
    margin-bottom: 1rem;
}

.search-box {
    text-align: center;
    height: 600px;
    background-color: lightcoral;
    border-radius: 20px;
    border: 2px solid white;
}

.search-box label {
    margin-bottom: 0rem;
    padding: 20px;
}

#search-city {
    margin-bottom: 15px;
}

#city-history {
    height: 400px;
    margin-top: 40px;
}

.city-button {
    width: 80%;
    margin: 5px;
}

.results-top {
    height: 55%;
}

.weather-results {
    background-color: lightblue;
    border: 2px solid white;
    border-radius: 20px;
}

img {
    border-radius: 20px;
    opacity: 0.7;
}

.current-temp {
    position: relative;
    text-align: center;
    margin: auto;
    padding: 0px;
}

#temp-top-text {
    position: absolute;
    top: 40px;
    width: 100%;
    padding-left: 75px;
    padding-right: 75px;
}

#temperature {
    position: absolute;
    top: 80px;
    width: 100%;
    font-size: 120px;
}

#weather-description {
    position: absolute;
    top: 250px;
    width: 100%;
}

.weather-details {
    position: relative;
    margin: 28.797px 0;
}

#weather-list {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#weather-list h4 {
    margin: 20px 0;
}

.results-bottom {
    position: relative;
    margin: auto 10px;
    height: 45%;
}

.card {
    border-radius: 20px;
}

.card-body {
    padding: 0;
}

.forecast {
    height: 150px;
    margin: 5px;
    padding: 0;
    background-color: white;
    border-radius: 20px;
}
